{{ partial "head" . }}
  <body>
    <div id="wrap">
    <!-- Header -->
    {{ partial "header" . }}
      <div class="container">
        <h1>{{ .Title }} Posts</h1>
        <h4>
          <span class="badge badge-danger">series</span>
          <span class="badge badge-success">categories</span>
          <span class="badge badge-dark">tags</span>
        </h4>
        {{ .Content }}
        <div class="card">
          <div class="card-body">{{ range .Data.Pages.ByPublishDate.Reverse }} {{ partial "lists" . }} {{ end }}</div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
