{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h1>{{ .Title }}</h1>
        <h4>
          <span class="label label-warning">series</span>
          <span class="label label-info">categories</span>
          <span class="label label-primary">tags</span>
        </h4>
        {{ .Content }}
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range .Data.Pages.ByPublishDate }}
              {{ partial "lists" . }}
            {{ end }}
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
