{{ define "main" }}
        <div class="blog-post">
          <h1>
            <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
          </h1>
        </div>
        <div class="blog-title">
          <h4>
            <p>
            {{ .Date.Format "January 2, 2006" }} &nbsp;&bull;&nbsp; <i class="far fa-clock"></i> {{ .ReadingTime }} - {{ math.Round ( mul 1.2 .ReadingTime ) }} minute read
            </p>
            <p>
            {{- range ( .GetTerms "series" ) }}
            <a href="{{ .Permalink }}"><span class="label label-warning">{{ .LinkTitle | lower }}</span></a>
            {{- end }}
            {{- range ( .GetTerms "categories" ) }}
            <a href="{{ .Permalink }}"><span class="label label-primary">{{ .LinkTitle | lower }}</span></a>
            {{- end }}
            {{- range ( .GetTerms "tags" ) }}
            <a href="{{ .Permalink }}"><span class="label label-info">{{ .LinkTitle | lower }}</span></a>
            {{- end }}
            </p>
          </h4>
        </div>
        {{- if or .Params.audio .Params.video -}}
          {{ partial "plyr" . }}
        {{ end }}
        <hr>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
              {{ .Content }}
              <hr>
              {{ $related := .Site.RegularPages.Related . | first 3 }}
              {{ with $related }}
              <div class="related-posts">
                <h5>Related Posts</h5>
                {{ range . }}
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <h6 style="text-align: right">
                        {{ .Date.Format "January 2, 2006" }}
                      </h6>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <h6 style="text-align: left">
                        <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
                      </h6>
                    </div>
                  </div>
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
          {{ with $.Site.DisqusShortname }}
          <hr>
        {{ partial "disqus" . }}
        {{ end }}
        </div>
{{ end }}
