{{ define "main" }}
        <h1>Posts tagged "{{ .Title }}"</h1>
        <h4>
          <span class="label label-warning">series</span>
          <span class="label label-info">categories</span>
          <span class="label label-primary">tags</span>
        </h4>
        {{ with .Content }}
          {{ . }}
        {{ end }}
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range .Data.Pages.ByPublishDate.Reverse }}
              {{ partial "lists" . }}
            {{ end }}
            </div>
          </div>
{{ end }}
