<nav class="navbar navbar-light bg-light navbar-expand-md">
  <div class="container"> <a class="navbar-brand" href="{{ .Site.BaseURL }}"><i class="fa fa-home"></i></a>
    <p class="navbar-brand">{{ .Site.Title }}</p>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">&#x2630;</button>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav ml-auto">
        {{ if .Site.Menus.main }} 
          {{ range sort .Site.Menus.main }}
            <li class="nav-item"><a href="{{ .URL }}" class="nav-link">{{ .Name | upper }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
