{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $bootstrap := resources.Get "js/bootstrap.min.js" }}
{{ $highlight := resources.Get "js/highlight.min.js" }}

{{ $js := ( slice $jQuery $bootstrap $highlight ) | resources.Concat "js/main.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js := $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}
{{- range .Site.Params.custom_js -}}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
<script src="{{ .Site.BaseURL }}js/docs.min.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ .Site.BaseURL }}js/ie10-viewport-bug-workaround.js"></script>
{{- if .Params.highlight -}}
<script>hljs.initHighlightingOnLoad();</script>
{{ end }}
