{{ partial "head" . }}
  <body>
    <div id="wrap">{{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="avatar">
            <img class="rounded-circle img-fluid" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
          </div>
          {{ partial "intro" .Site.Params.intro }} 
          {{ partial "social" .Site.Params.social }}
        </div>
    </section>
  </div>
    {{ partial "footer" . }}
  </body>
</html>
